!!!
%html
  %head
    %title Smart Password Generator
    = stylesheet_link_tag('reset')
    = stylesheet_link_tag('application')
    = javascript_include_tag('https://ajax.googleapis.com/ajax/libs/jquery/1.5.0/jquery.min.js')
    = javascript_include_tag('rails')
    = csrf_meta_tag
  %body
    = yield
